@import '../../../../assets/styles/colors';

.layer-controller-container {
	display:inline-block;
	width: 50px;
	height: 360px;
	position: absolute;
	top:50%;
	left: 0;
	transform: translate(0, -50%);
	transition: width 300ms;
	background-color: rgba($blue, 0.85);
	border-radius: 0px 15px 15px 0px;
	overflow: hidden;
	&.open {
		width: 300px;
		& .layer-container {
			& .line {
				width: 260px;
				
			}
		}
	}

	
	& .toggle_panel {
		display:flex;
		flex-direction: row;
		height: 43px;
		width: 100%;
		background-color: $blue;
		& .icon-item {
			width: 50px;
			height: 50px;
			img {
				position: relative;
				top: 8px;
				left: 10px;
			}
		}
		& .text-item {
			margin-left: 10px;
			width: 250px;
			height: 50px;
			line-height: 45px;
			font-size: 20px;
			font-weight: bold;
			color: white;
			text-align: left;
			& span {
				width: 250px;
			}
		}
	}

	& .layer-container {
		user-select: none;
		cursor: pointer;
		& .line {
			height: 0;
			margin: 0 auto;
			width: 30px;
			border-bottom: 1px solid white;
		}
		& .layer-item {
			display:flex;
			flex-direction: row;
			height: 50px;
			width: 100%;
			background-color: transparent;
			transition: background-color 300ms;
			flex-wrap: nowrap;

			&.virtual {
				flex-direction: column;
				height: 120px;
				& .top-line {
					display: flex;
					width: 100%;
					flex-direction: row;

					& .icon-item {
						margin-top: 30px;
						transition: margin-top 300ms;
					}
				}
				& .info {
					width: 80%;
					margin-left: 60px;
					color: white;
					font-weight: 700;
					font-size: 14px;
					text-transform: uppercase;
					text-align: left;
				}
				&.open {
					& .top-line {
						& .icon-item {
							margin-top: 5px;
						}
					}
				}
			}
			& .icon-item {
				width: 50px;
				height: 50px;
				& img {
					margin-left: 5px;
					margin-top: 5px;
				}
			}
			& .text-item {
				margin-left: 10px;
				width: 250px;
				height: 50px;
				line-height: 50px;
				font-size: 20px;
				font-weight: bold;
				color: white;
				text-align: left;
				& span {
					width: 250px;
				}
			}
			&:hover {
				background-color: rgba($cyan, 0.5);
			}
		}
	}
	
}

.run-form {
	height: 0;
	width: 100vw;
	position: absolute;
	bottom: 0;
	transition: all 300ms;
	
	& img {
		width:100vw;
		margin: auto;
	}
	&.open {
		height: 250px;
	}
}