@import '../../../../assets/styles/colors';

.layer-controller-container {
	display:inline-block;
	width: 50px;
	height: 360px;
	position: absolute;
	top:50%;
	left: 0;
	transform: translate(0, -50%);
	transition: width 300ms;
	background-color: rgba($blue, 0.85);
	border-radius: 0px 15px 15px 0px;
	overflow: hidden;
	&.open {
		width: 300px;
	}

	& .toggle_panel {
		display:flex;
		flex-direction: row;
		height: 43px;
		width: 100%;
		background-color: $blue;
		& .icon-item {
			width: 50px;
			height: 50px;
			img {
				position: relative;
				top: 8px;
				left: 10px;
			}
		}
		& .text-item {
			width: 250px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			color: white;

			& span {
				width: 100%;
				height: 50px;
				line-height: 50px;

			}
		}
	}

	& .layer-container {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-direction: flex-start;

		& .layer-item {
			display:flex;
			flex-direction: row;
			height: 50px;
			width: 100%;
			background-color: transparent;
			transition: background-color 300ms;
			flex-wrap: nowrap;

			&.virtual {
				height: 100px;
				& .text-item {
					display: flex;
					flex-direction: column;
				}
			}
			& .icon-item {
				width: 50px;
				height: 50px;
				& img {
					left: 3px;
				}
			}
			& .text-item {
				width: 250px;
				height: 50px;
				line-height: 50px;
				font-size: 20px;
				font-weight: bold;
				color: white;
				text-align: center;
				& span {
					width: 250px;
				}
			}
			&:hover {
				background-color: rgba($cyan, 0.5);
			}
		}
	}
	
}