@import '../../../assets/styles/colors';

.main-page-container {
	height: 100vh;
	width: 100vw;
	overflow:hidden;
	position: absolute;
	top: 0;
	left: 0;

	& .cover-image {
		height: 100%;
		width: 100%;
		background-color: $blue;
		z-index: 1000;
		& img {
			width: 50%;
			margin: auto;
		}

	}
}