@import '../../../assets/styles/colors';

.marker-controller-container {
	width: 200px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;

	& .marker-container {
		display:inline-block;
		width: 200px;
		height: 360px;
		position: absolute;
		top:50%;
		right: 0;
		transform: translate(0, -50%);
		transition: width 300ms;
		background-color: rgba($blue, 0.85);
		border-radius: 15px 0px 0px 15px;

		& .layer-title {
			width: 100%;
			height: 40px;
			font-size: 16px;
			font-weight: bold;
			color: white;
			text-transform: uppercase;
			text-align: center;
			line-height: 40px;
			background-color: $blue;
			border-top-left-radius: 15px;
		}
		& .marker-list {
			height: calc(100% - 40px);
			overflow-x: hidden;
			overflow-y: scroll;

			&::-webkit-scrollbar {
				display: none;
			}

			
			& .marker-item {
				width: 100%;
				height: 40px;
				font-size: 12px;
				font-weight: bold;
				color: white;
				text-transform: uppercase;
				text-align: left;
				line-height: 40px;
				border-bottom: 0.5px solid white;
				overflow: hidden;
				transition: all 400ms ease-in-out;
				
				&:last-child { border-bottom: none;}
				& .header {
					display: flex;
					flex-direction: row;
					&.long {
						font-size: 9px;
					}
					& .active-bar {
						height: 40px;
						width: 10px;
						background-color: $cyan;
					}
					& .icon {
						position: relative;
						top: 5px;
						width: 30px;
						height: 30px;
						margin-right: 10px;
						margin-left: 20px;
					}
				
					background-color: transparent;
					transition: all 400ms ease-in-out;
				}
				&.active {
					height: 150px;

					&.long {
						height: 220px;
					}
					& .header {
						background-color: $blue;
					}
				}

				& .marker-image {
					width:80%;
					text-align: center;
					& img {
						width: 100%;
						height: auto;
						margin-left: 25px;
					}

				}
				& .marker-description {
					width: 80%;
					margin: 10px auto 0 auto;
					font-size: 10px;
					text-transform: unset;
					line-height: 12px;
					
				}

			}
			
		}
	}
}