.side-panel-container {
	& .toggle_icon {
		height: 50px;
		width: 50px;
		position: absolute;
		top: 50px;
		left: 50px;

		//temp
		background-color: rgba(0, 0, 0, 0.4);
		transition: all 300ms;

		&:hover {
			background-color: rgba(0, 0, 0, 1);
		}
	}

	& .panel-overlay {
		position: absolute;
		top:0;
		left: 0;
		height: 100%;
		width: 0;
		transition: all 300ms;
		overflow: hidden;
		&.open {
			width: 400px;
		}
		background-color: #E8E8E8;
		border: 0.2px solid #3A3A3A;

		& .toggle_icon {
			height: 50px;
			width: 50px;
			position: absolute;
			top: 50px;
			left: 50px;

			//temp
			background-color: rgba(0, 0, 0, 1);
		}

	}
}